html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  max-width: 430px;         /* Для красивого отображения на ПК по центру */
  height: 100vh;
  height: 100dvh;           /* Динамическая высота для Safari */
  background-color: var(--bg-main);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 480px) {
  #root {
    max-width: 100%;        /* На телефоне раскрываемся во всю шину */
    height: 100vh;
    height: 100dvh;
  }
}
